* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(60, 65, 199, 1) 0%, rgba(41, 209, 190, 1) 100%);
    color: white;
    font-family: sans-serif;
}

.wrapper {
    padding: 10px;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.wrapper>div {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    max-width: 200px;
}

.wrapper>div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}



.box{
    
    height: 200px;
    padding: 10px;
    max-width: 100%;
}

.box>div{
    width: 200px;
    height: 100px;
    
    max-width: 200px;
}

.box>div:hover{
   
   border-radius: 20px, 20px, 20px, 20px;
}

   

.box1{
    margin: 0 auto;
    height: 200px;
    padding: 10px;
    max-width: 100%;
}
 
.box1 > div{
    background-color: rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    padding: 10px;
    max-width: 200px;
}
.box1>div:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}









.box2{
    
    margin: 0 auto;
    height: 200px;
    padding: 100px;
    max-width: 100%; 
   
}

.box2 > div{  
  
  width: 200px;
  height: 100px;
  padding: 10px;
  max-width: 200px;
}












.box3{
    padding: 20px;
    max-width: 100%;
    font-family: unset;
    
    
}
.box3>div {
    margin: 10px;
    padding: 10px;
    max-width: 200px;
}

